{% extends "base.html" %}

{% block title %}書籍の追加{% endblock %}

{% block content %}
        <h1>新しい書籍を追加</h1>
        <form action="{{ url_for('add_book') }}" method="POST" class="input-form" style="flex-direction: column;">
            <input type="text" name="book_title" placeholder="書籍名" required style="margin-bottom: 10px;">
            <input type="text" name="author" placeholder="著者名" required style="margin-bottom: 15px;">
            <button type="submit" class="btn-add" style="width: 100%;">追加する</button>
        </form>
        <div style="text-align: center; margin-top: 15px;">
            <a href="{{ url_for('list_app') }}" style="color: #95a5a6;">一覧に戻る</a>
        </div>
{% endblock %}